html, body {
  width: 100%;
  margin: 0;
  display: block;
}

.header, .main {
  margin: 0 auto;
  display: block;
  width: 100%;
  max-width: 400px;
}

.header {
  padding-top: 1em;
  margin-top: 5em;
  padding-bottom: 1em;
}

.message_generic {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 30px;
  border-radius: 10px;
  border-width: thin;
  opacity: 0.8;
  text-align: center;
  margin-top: 10px;
}

.message_generic button{
  position: absolute;
  right: 5px;
  top: 1px;
  height: 90%;
  background-color: transparent;
}

.message_info {
  border-color: blue;
  background-color: #99c2ff;
}

.message_error {
  border-color: red;
  background-color: #f20e0e;
}

.logo {
  text-align: center;
}

.login input {
  width: 84%;
}

.login button {
  width: 14%;
  height: 25px;
  color: white;
  background-color: #99c2ff;
}

.buttons button {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  height: 35px;
  font-size: 14pt;
  background-color: transparent;
  border-color: #99c2ff;
}

button {
  border-radius: 5px;
  border-width: thin;
}

input {
  border-radius: 5px;
  border-width: thin;
  border-color: #99c2ff;
  height: 25px;
}
